{% extends 'base_cliente.html' %}
{% block titulito %}Restablecer Contraseña{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
                <h4>Crear Nueva Contraseña</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label>Nueva Contraseña</label>
                        <input type="password" name="nueva" class="form-control" required>
                        <small>Mínimo 6 caracteres</small>
                    </div>
                    <div class="mb-3">
                        <label>Confirmar Contraseña</label>
                        <input type="password" name="confirmar" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Restablecer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}